.category{
    .MuiTableCell-alignRight{
        text-align: left;
    }
    .MuiTable-root{
        min-width: auto;
    }
    .MuiInput-root{
        width: 100%;
    }
}

.pagination .MuiPagination-root {
    margin: auto;
}
.pagination .MuiPaginationItem-root {
    outline: none;
}